<header class="masthead bg-primary text-white">
  <div class="container">
    <h2 class="text-uppercase mb-0">Pig Latin Convertor</h2>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/history">View History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
  </div>
</header>
