<h4>About this tool</h4>
<p>There are a couple of alterations I have made from the initial code scaffold build from the CLI.</p>
<p>Under the app level, There are 2 directories 'containers' and 'shared'. This is done to give a clearer separation between sections of the application and shared elements. I have found over time this tweak in organisation to prove to be helpful.</p>
<p>I have moved the unit tests out of the main codebase and placed them in there own directory. This is done to keep the focus within the app structure to be on application code. </p>
<p>I have included a 'Loader.service'. This would be called when remote calls are made from the application. However at the moment this is not being used in the application. </p>
<p>History has been implemented as its own component in an attempt to behave more like a 'real life' app. This could have easily been implemented on the 'home' page. </p>
<p>An example set of tests can be seen for the home component, entering the command 'npm test' should launch unit tests. Please note a number of functions in the home.component.ts have been made public to allow testing of those methods </p>
<hr>
<h6>Thanks for taking a look at my code. </h6>
