<div class="container">
  <div class="row">
    <div class="col-8">
      <form [formGroup]="inputForm" (ngSubmit)="conversionSubmit()" novalidate>
        <div class="form-group">
          <input type="text" (keydown)="inputChange()" class="form-control" id="userInput" formControlName="userInput" placeholder="Enter your text here">
        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="inputForm.invalid">Convert</button>
        </div>
      </form>
    </div>
    <div class="col-4" *ngIf="conversion.length > 0" [@fadeAnimation]>
      <h3>Convertion</h3>
      <p>{{conversion}}</p>
    </div>
  </div>
</div>
