<app-header></app-header>

<div id="preloader" *ngIf="loaderVisible">
  <div id="loader"></div>
</div>

<div class="offset-1 col-10 main-container">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
