<div class="row">
  <div class="col-6">
    <h3 class="text-center">Input History</h3>
    <ul>
      <li *ngFor="let item of input">
        {{ item }}
      </li>
    </ul>
  </div>
  <div class="col-6">
    <h3 class="text-center">Output History</h3>
    <ul>
      <li *ngFor="let item of output">
        {{ item }}
      </li>
    </ul>
  </div>
</div>
